<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
</style>
</head>
<body> -->
{% extends "base.html" %}

{% block content %}
<h2>Accordion</h2>


<button class="accordion" id="test1">toyota</button>
<div class="panel">
  <p id="test">saab</p>
</div>

<button class="accordion" id="test2">mustang</button>
<div class="panel">
  <p id="test3">volvo</p>
</div>

<button class="accordion" id="test4">hellcat</button>
<div class="panel">
  <p id="test5">bmw</p>
</div>

<button onclick="swap1()">switch down</button>
<button onclick="swap2()">switch down</button>
<button onclick="swap3()">switch down</button>

<button onclick="swap3()">switch up</button>
<button onclick="swap1()">switch up</button>
<button onclick="swap2()">switch up</button>

<script>
function swap1() {
var a = cars[0]
cars[0] = cars[1];
var b = mobil[0]
mobil[0] = mobil[1];

cars[1] = a;
mobil[1] = b;

document.getElementById('test').innerHTML = cars[0]
document.getElementById('test1').innerHTML = mobil[0]

document.getElementById('test3').innerHTML = cars[1]
document.getElementById('test2').innerHTML = mobil[1]
}


function swap2() {
var a = cars[1]
cars[1] = cars[2];
var b = mobil[1]
mobil[1] = mobil[2];

cars[2] = a;
mobil[2] = b;

document.getElementById('test3').innerHTML = cars[1]
document.getElementById('test2').innerHTML = mobil[1]

document.getElementById('test5').innerHTML = cars[2]
document.getElementById('test4').innerHTML = mobil[2]
}


function swap3() {
var a = cars[2]
cars[2] = cars[0];
var b = mobil[2]
mobil[2] = mobil[0];

cars[0] = a;
mobil[0] = b;

document.getElementById('test5').innerHTML = cars[2]
document.getElementById('test4').innerHTML = mobil[2]

document.getElementById('test').innerHTML = cars[0]
document.getElementById('test1').innerHTML = mobil[0]
}

var mobil = ["toyota", "mustang", "hellcat"]
var cars = ["Saab", "Volvo", "BMW"];
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}

</script>
{% endblock %}

<!-- </body>
</html> -->
