
{% extends "base.html"%}

{% block content %} 
<div class="dark-background">
<!-- <div class="whitespace-2"></div> -->
<div class="whitespace-5"></div>
<div class="text-center">
  <h1 class="d-none d-md-block title-name-1 color-2">Accordion</h1>
  <h1 class="d-md-none title-name-3 color-2">Accordion</h1>
  <br>
</div>
<div class="rounded" id="accordion" style="width: 400px; margin:auto; border-style: solid; border-color: #021800;background-color: #021800;border-width:25px;">
  <h5 class="color-2 content-2" > <span id="judul0">Aktivitas</span> <span style="float: right;"><button class="updown rounded" onclick="swap(0,1)">▼</button><button class="updown rounded" onclick="swap(3,0)">▲</button></span> </h3> 
  <div class="rounded container color-3 content-3" style="background-color: white;" id="isi0">
    <br><ul><li>Lab SDA AVL Tree</li><li>Profile Web Project</li><li>Studying MIPS Datapath</li></ul><br>
  </div>
  <h5 class="color-2 content-2"> <span id="judul1">Pengalaman Organisasi</span> <span style="float: right;"><button class="updown rounded" onclick="swap(1,2)">▼</button><button class="updown rounded" onclick="swap(0,1)">▲</button></span></h3>
  <div class="rounded container color-3 content-3" style="background-color: white;" id="isi1">
    <br><ul><li>Panitia Buang Anggaran</li><li>Juri lomba makan kerupuk</li><li>Co-Founder Google</li></ul><br>
  </div>
  <h5 class="color-2 content-2"><span id="judul2">Prestasi</span> <span style="float: right;"><button class="updown rounded" onclick="swap(2,3)">▼</button><button class="updown rounded" onclick="swap(1,2)">▲</button></span></h3>
  <div class="rounded container color-3 content-3" style="background-color: white;" id="isi2">
    <br><ul><li>Juara 1 makan angin</li><li>Juara 3 Prokrastinasi</li><li>Juara harapan lulus SD</li><li>Juara 5 Lomba Gambar TK</li></ul><br>
  </div>
  <h5 class="color-2 content-"><span id="judul3">Riwayat Sekolah</span> <span style="float: right;"><button class="updown rounded" onclick="swap(3,0)">▼</button><button class="updown rounded" onclick="swap(2,3)">▲</button></span></h3>
  <div class="rounded container color-3 content-3" style="background-color: white;" id="isi3">
    <br><ul><li>SD Maria Fransiska</li><li>SDK 4 Penabur</li><li>SMPK 5 Penabur</li><li>SMAK 7 Penabur</li></ul><br>
  </div>
</div>
<div class="whitespace-3"></div>
</div>

<script>

    var mobil = [
        "Aktivitas", 
        "Pengalaman Organisasi", 
        "Prestasi", 
        "Riwayat Sekolah",
    ];
    var cars = [
        "<br><ul><li>Lab SDA AVL Tree</li><li>Profile Web Project</li><li>Studying MIPS Datapath</li></ul><br>", 
        "<br><ul><li>Panitia Buang Anggaran</li><li>Juri lomba makan kerupuk</li><li>Co-Founder Google</li></ul><br>", 
        "<br><ul><li>Juara 1 makan angin</li><li>Juara 3 Prokrastinasi</li><li>Juara harapan lulus SD</li><li>Juara 5 Lomba Gambar TK</li></ul><br>", 
        "<br><ul><li>SD Maria Fransiska</li><li>SDK 4 Penabur</li><li>SMPK 5 Penabur</li><li>SMAK 7 Penabur</li></ul><br>",
    ];

    function swap(x,y) {
    var a = cars[x]
    cars[x] = cars[y];
    var b = mobil[x]
    mobil[x] = mobil[y];
    
    cars[y] = a;
    mobil[y] = b;
    
    document.getElementById('isi'+x).innerHTML = cars[x]
    document.getElementById('judul'+x).innerHTML = mobil[x]
    
    document.getElementById('isi'+y).innerHTML = cars[y]
    document.getElementById('judul'+y).innerHTML = mobil[y]
    }
    </script>
{% endblock %}
 
 