{% extends "base.html" %}
{% block content %}
<div class="container text-center">
    <div class="whitespace-2"></div>
    <div class="whitespace-2"></div>
    <div class="whitespace-2"></div>
    <h1 class="title-name-1">Upcoming Events</h1>
    <div class="whitespace-2"></div>
    <div class="whitespace-2"></div>
    <div class="row color-2">
        {% for event in list %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="album dark-background rounded card" style="min-height: 200px;">
                <p class="content" style="text-transform: uppercase;background-color: white;">{{event.event}}</p>

                {% for member in members %}

                {% if member.event == event %}
                <p class="content" style="color: whitesmoke;">{{member.member}}</p>
                {% endif %}

                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="whitespace-2"></div>
    <div class="btn btn-warning">
        <a href="/events/add-event/">
            <h1 class="title-prefix" style="color: white;">Add Event</h1>
        </a>
    </div>
    <div class="btn btn-warning">
        <a href="/events/add-member/">
            <h1 class="title-prefix" style="color: white;">Add Member</h1>
        </a>
    </div>
    <div class="whitespace-1"></div>
</div>
{% endblock %}