{% extends "base.html" %}


{% block sidebar-hidden-menu %}
{% endblock %}
{% block sidebar-content %}
<a class="color-2" href="#home">
    <h1 class="content-2">Home</h1>
</a>
<a class="color-2" href="#about">
    <h1 class="content-2">About</h1>
</a>
<a class="color-2" href="#experience">
    <h1 class="content-2">Experience</h1>
</a>
<a class="color-2" href="#education">
    <h1 class="content-2">Education</h1>
</a>
<a class="color-2" href="#projects">
    <h1 class="content-2">Projects</h1>
</a>
<a class="color-2" href="#interests">
    <h1 class="content-2">Interests</h1>
</a>
{% endblock %}

{% block sidebar-hidden-login %}
{% endblock %}

{% block content %}
<div id="home" class="whitespace-1"></div>

<div class="d-none d-md-block">
    <div class="col">
        <img src="static/images/Profile Pic.jpg" alt="SammyBoy" class="rounded-circle float-left profile-picture">
    </div>
    <div class="titlename-div color-1">
        <div class="whitespace-2"></div>
        <h1 class="title-prefix">HelloThere,I'm</h1>
        <h1 class="title-name-1">SAMUEL SHARON</h1>
    </div>
</div>

<div class="d-md-none text-center">
    <img src="static/images/Profile Pic.jpg" alt="SammyBoy" class="rounded-circle profile-picture">
    <div class="titlename-div color-1">
        <div class="whitespace-2"></div>
        <h1 class="title-prefix">HelloThere,I'm</h1>
        <h1 class="title-name-3">SAMUEL SHARON</h1>
        <div class="whitespace-2"></div>
        <a href="#about"><img src="static/images/arrow-down.png" style="width: 100px;" alt="down"></a>
    </div>
</div>


<div class="whitespace-3"></div>
<div class="text-center">
    <img src="static/images/Headshot2.jpg" alt="SammyGas" class="rounded-circle headshot" id="about">
</div>

<div class="col">
    <div class="col">
        <h2 class="title-prefix color-2">About</h2>

        <div class="d-none d-md-block">
            <h1 class="title-name-2">SAMUEL SHARON SIDABUTAR</h1>
        </div>
        <div class="d-md-none">
            <h1 class="title-name-4">SAMUEL SHARON SIDABUTAR</h1>
        </div>

        <div class="content col-lg-8 col-md-10 col-sm-12">
            <p>Computer Science Student</p>
            <p>
                I am a 20 year old undergraduate currently enrolled in Universitas Indonesia studying computer science. 
                I have been a student here for almost 3 years studying topics such as programming, mathematics, 
                and other more general courses. In those years I have learnt about working in a team, time management, 
                collaboration, and other skills.
            </p>
            <p>Jakarta - 081382056694 - samuelsharon.work@gmail.com</p>
        </div>
        <br>

        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-2 col-4">
                <a href="https://www.instagram.com/totallynotsam_/">
                    <img src="static/images/instagram.svg" alt="ig" class="icon"></a></div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-4">
                <a href="https://www.linkedin.com/in/samuel-sharon-sidabutar-28345b222/">
                    <img src="static/images/in.webp" alt="linked in" class="icon"></a></div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-4">
                <a href="https://open.spotify.com/user/sssidabutar.9962?si=m1gy_9BRRJyQARxtbg83fQ">
                    <img src="static/images/Spotify.png" alt="spotify" class="icon"></a></div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-4">
                <a href="https://discord.gg/a9Qjuzt">
                    <img src="static/images/Discord.webp" alt="discord" class="icon"></a></div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-4">
                <a href="https://twitter.com/SamuelSharon10">
                    <img src="static/images/Twitter.png" alt="twitter" class="icon"></a></div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-4">
                <a href="https://gitlab.com/Hans-sss">
                    <img src="static/images/Gitlab.png" alt="gitlab" class="icon"></a></div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-4">
                <a href="https://github.com/Hans-sss">
                    <img src="static/images/Github.png" alt="github" class="icon"></a></div>
        </div>

    </div>
</div>

<div class="whitespace-5"></div>

<div class="text-center">
    <img src="static/images/UI.png" alt="Makara Fakultas Ilmu Komputer" class="rounded-circle headshot" id="experience">
</div>
<div>
    <div class="col">
        <h2 class="title-prefix color-2">Experience</h2>
        <br><br>
        <div class="col-lg-8 col-md-10 col-sm-12">
            <p class="content">Lecturer's Assistant</p>
            <p class="content">Part time lecturer's assistant for "Language and Automata Theory" course at University of Indonesia</p>
            <p class="content-2">Feb 2022 - June 2022 - 1 semester, Depok</p>

            <p class="content">Peer Tutor</p>
            <p class="content">Part time Peer Tutor for "Data Structures and Algorithm" course at University of Indonesia</p>
            <p class="content-2">Sept 2021 - Dec 2021 - 1 semester, Depok</p>
        </div>
        <br>
</div>

<div class="whitespace-5"></div>

</div>

<div class="dark-background">
    <br><br><br>
    <div class="col">
        <div class="col">

            <div class="col-xl-6 text-center">
                <h1 class="title-2 color-2" id="education"> Education</h1>
            </div>
            <div class="row">
                <div class="col-xl-6 text-center">
                    <div class="text-center">
                        <img src="static/images/Makara.png" alt="makara" class="makara">
                    </div>
                    <div class="content-2 color-2">
                        <p class="m-0">Universitas Indonesia</p>
                        <h2>Fakultas Ilmu Komputer</h2>
                        <p class="m-0">Year of 2019</p>
                        <p>1906400204</p>
                    </div>
                    <div class="text-center">
                        <img src="static/images/Rektorat.jpg" alt="rektorat" class="rektorat">
                    </div>
                </div>
                <div class="whitespace-2"></div>
                <div class="col-xl-6 text-center">
                    <img src="static/images/Group 1.png" alt="Education History" class="education-group">
                </div>
            </div>

            <div class="whitespace-4"></div>

            <h1 class="title-1 color-2" id="projects">PROJECTS</h1><br><br>

            <div class="text-center">
                <div class="row">

                    <div class="col-xl-6 content-2">
                        <div class="whitespace-2"></div>
                        <h4 class="color-2">Personal Project: Static Info Website</h4>
                        <a href="https://hans-sss.github.io/savetheturtles/"><img src="static/images/STT.PNG"
                                alt="Save The Turtles" class="project-picture"></a>
                        <br><br><br><br><br><br>
                    </div>

                    <div class="col-xl-6">
                        <h4 class="color-2">Collaborative Project: Academic Website</h4>
                        <a href="https://sekele.herokuapp.com/"><img src="static/images/sekelee.png" alt="SEKELE"
                                class="project-picture"></a>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xl-6">
                        <div class="whitespace-2"></div>
                        <h4 class="color-2">Personal Project: 2D Platformer Game</h4>
                        <a href="https://hans-sss.itch.io/down-with-the-fat-cats"><img
                                src="static/images/Down With The Fat Cats.png" alt="Down With The Fat Cats"
                                class="project-picture"></a>
                        <br><br><br><br><br><br>
                    </div>

                    <div class="col-xl-6">
                        <h4 class="color-2">Collaborative Project: Top-Down Survival Game</h4>
                        <a href="https://ayrtonsenna.itch.io/totally-accurate-sailing-simulator"><img
                                src="static/images/TASS.png" alt="Totally Accurate Battle Simulator"
                                class="project-picture"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="col">
        <div class="whitespace-1" id="interests"></div>
        <h1 class="title-2 color-2">Languages & Tools</h1>
        <div class="whitespace-2"></div>


        <div class="row">
            <div class="col-lg-1 col-md-3 col-sm-3 col-3"><img src="static/images/javabg.svg" alt="java" class="icon">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 col-3"><img src="static/images/pythonbg.svg" alt="python"
                    class="icon"></div>
            <div class="col-lg-1 col-md-3 col-sm-3 col-3"><img src="static/images/django.webp" alt="django"
                    class="icon"></div>
            <div class="col-lg-1 col-md-3 col-sm-3 col-3"><img src="static/images/htmlbg.svg" alt="html" class="icon">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 col-3"><img src="static/images/cssbg.svg" alt="css" class="icon">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 col-3"><img src="static/images/bootstrapbg.svg" alt="bootstrap"
                    class="icon"></div>
            <div class="col-lg-1 col-md-3 col-sm-3 col-3"><img src="static/images/ps.svg" alt="ps" class="icon"></div>
            <div class="col-lg-1 col-md-3 col-sm-3 col-3"><img src="static/images/pr.svg" alt="ps" class="icon"></div>
        </div>

        <div class="whitespace-2"></div>


        <h1 class="title-2 color-2">Interests</h1>
        <div class="col-lg-9 col-md-10 col-sm-12 content color-1">
            <p>
                Through the years of studying here I have developed a great interest in web development. 
                Though I can not say that that is the end all be all since I am interested in other 
                computer science related topics such as data science and security.
            </p>
            <p>
                I also have interests outside of the computer science field such as cinematography, 
                photography and chemistry. Though I have chosen not to pursuit those as a career and 
                instead focus on computer science.
            </p>
        </div>
        <div class="whitespace-1"></div>
        <div class="text-center">
            <a href="#home">
                <img src="static/images/arrow-up-01-512.webp" style="width: 100px;" alt="">
                <p class="content color-1">Get Back to top!</p>
            </a>

            <div class="whitespace-2"></div>
            <p class="content-2 color-2">or</p>
            <div class="whitespace-2"></div>

            <a href="album">
                <p class="content color-1">Continue to my random pictures</p>
                <img src="static/images/591276-arrow-right-512.webp" style="width: 100px;" alt="">
            </a>
        </div>
        <div class="whitespace-1"></div>
    </div>
</div>
{% endblock %}