{% extends "base.html" %}


  {% block content %}
  <div class="col-md-3 d-none d-md-block picture1" style="background-color: black; height: 100%; position: fixed;">

    <div>
      <img src="static/images/Headshot.jpg" alt="Samuel Sharon" style="width: 90%; position: absolute; top: 50%; 
      transform: translateY(-50%);" class="mx-auto d-block rounded-circle">

    </div>
  </div>
  <div class="col-xl-7 col-lg-8 col-md-8 col-12 float-right">

    <div style="height: 200px"></div>

    <h1>ABOUT</h1>

    <h1 style="font-size: 2cm; font-weight: bolder; font-family: Arial, Helvetica, sans-serif; color: #800000;" ;>SAMUEL
      SHARON </h1>
    <h4>STUDENT - SAMUELSHARON.WORK@GMAIL.COM </h4>
    <br><br>
    <h4 style="max-width: 30cm;">I am an 18 year old currently enrolled in university studying computer science. My first 
      ever “coding” expirience was when i followed an html course near the end of high school.  
      Ever since I began studying in university i have been wondering what my true passion is but i have not 
      found it as of yet. Though I have been intrested in some roles such as web development. </h4>
    <br>
    <h6>Universitas Indonesia - Fakultas Ilmu Komputer 2019 - 1906400204</h6>

    <div style="height:200px"></div>

    <div class="row">
      <div class="col-md-4">
        <h2>Previous Education</h2>
        <h5>SD Maria Fransiska <small>2007-2010</small></h5>
        <h5>SDK4 BPK PENABUR <small>2010-2013</small></h5>
        <h5>SMPK5 BPK PENABUR <small>2013-2016</small></h5>
        <h5>SMAK7 BPK PENABUR <small>2016-2019</small></h5>
      </div>
      <div class="col-md-4">
        <h2>Social Media</h2>
        <h5>Twitter: <small>@samuelsharon10</small></h5>
        <h5>Line: <small>samuel_sidabutar</small></h5>
        <h5>Discord: <small>HANS#7252</small></h5>
        <h5>Ig: <small>totallynotsam_</small></h5>



      {% endblock %}