<!-- <html> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% extends 'base.html' %}{% load static%}
{% block css %}
<style>
.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
</style>
{% endblock %}
{% block content %} 
    <div class="whitespace-2"></div>
    <div class="whitespace-2"></div>
    <div class="text-center">
        <h1 class="title-name-2 color-2" id="up">Search for Your Favorite books</h1>
    </div>
    <div class="whitespace-2"></div>
    <div style="width: 100%;">
      <form action="" style="margin: auto; max-width: 500px;">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input id="search" type="search" placeholder="Book Title" aria-describedby="button-addon1" class="form-control border-0 bg-light">
          </div>
        </div>
      </form>
    </div>

    <br>

    <div id="result" class="row" style="width: 90%; margin:auto; max-width:1200px">
        <!-- <div class='card col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12' style='padding: 5px'>
            <img class='card-img-top' src='++' alt='Card image cap'>
            <div class='card-body'>
                <h5 class='card-title'>++</h5>
                <p class='card-text'>++</p>
                <a href='++' class='btn btn-primary'>Check Out!</a>
            </div>
        </div> -->
    </div>
    <!-- <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/1.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quic</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->
    <br><br>
    <div style="width: 100%;">
      <div style="margin: auto; width:fit-content;">
        <a href="#up" class="btn btn-primary" style="margin: auto;">Back to Top</a>
        <button class="btn btn-light" style="margin: auto;" onclick="searchAgain()">Search Again</button>
      </div>
    </div>
    <div class="whitespace-1"></div>
    <div class="whitespace-1"></div>

    <script type="text/javascript">

        $(document).ready(function() {
          search("Election Fraud");
        });

        $('#search').keyup(function() {
          var pressed = $('#search').val();
          console.log(pressed)
          search(pressed);
        });

        function searchAgain() {
          var pressed = $('#search').val();
          console.log(pressed)
          search(pressed);
        }

        function search(search_string) {
          var get_json = 'search?search_key=' + search_string;
          $.ajax({
              url: get_json,
              success: function(result) {
                  console.log(result.items);
                  var result_obj = $('#result');
                  result_obj.empty();

                  for (i=0; i<result.items.length; i++) {
                      var book_title = result.items[i].volumeInfo.title;
                      var book_publisher = result.items[i].volumeInfo.publisher
                      var book_thumbnail = result.items[i].volumeInfo.imageLinks.thumbnail;
                      var book_link = result.items[i].volumeInfo.canonicalVolumeLink;
                      console.log(book_link);
                      console.log(book_title);
                      result_obj.append(
                          "<div class='col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6' style='padding: 6px;'><div class='card ' style='padding: 5px;margin-bottom:8px;'><img class='card-img-top' src='"
                          +book_thumbnail+
                          "' alt='Card image cap'><div class='card-body'><h6 class='card-title'><b>"
                          +book_publisher+
                          "</b></h6><p class='card-text'>"
                          +book_title+
                          "</p><a target='_blank' href='"
                          +book_link+
                          "' class='btn btn-primary'>Check Out!</a></div></div></div>"
                      );
                  }
              }
          });
      }
    </script>
{% endblock %}