{% extends "base.html" %}
{% block content %}
<div class="whitespace-4"></div>
<div class="content container">
    <h1 class="text-center title-name-2 color-2">{{ classes.matkul }}</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">Penjelasan</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>mata Kuliah</td>
            <td>{{ classes.matkul }}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dosen</td>
            <td>{{ classes.dosen }}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Jumlah SKS</td>
            <td>{{ classes.sks }}</td>
          </tr>
         
          <tr>
            <th scope="row">4</th>
            <td>Semester Tahun</td>
            <td>{{ classes.semester }}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Ruang Kelas</td>
            <td>{{ classes.ruang }}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Deskripsi Mata Kuliah</td>
            <td>{{ classes.desc }}</td>
          </tr>
        </tbody>
      </table>
</div>
<div class="whitespace-1"></div>
{% endblock %}